src/main/mule/testdeploy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="15f66940-4698-4484-81e1-def5482d229e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testdeployFlow" doc:id="55979b44-17a1-4417-98aa-ba6197fd0136" >
		<http:listener doc:name="Listener" doc:id="ffb4abcf-a236-4259-8ba4-98aee563874e" config-ref="HTTP_Listener_config" path="/"/>
		<set-payload value='#["hello testdeploy"]' doc:name="Set Payload" doc:id="50f68ad1-d2ac-4e07-8161-9c883f424c22" />
	</flow>
</mule>
